#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9
{float:left; width:90px; height:90px; margin:0px;padding:0px;border:0px solid #aaaaaa;}
#ans6
{float:left; position: absolute; width:150px; height:150px; margin-left:163px;padding:0px;border:3px dashed #aaaaaa; background-image: url('bg6.png');}
#ans5
{float:left; position: absolute; width:150px; height:150px; margin-left:338px;padding:0px;border:3px dashed #aaaaaa;background-image: url('bg5.png');}
#ans7
{float:left; position: absolute; width:150px; height:150px; margin-left:30px; margin-top:143px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg7.png');}
#ans4
{float:left; position: absolute; width:150px; height:150px; margin-left:468px; margin-top:143px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg4.png');}
#ans3
{float:left; position: absolute; width:150px; height:150px; margin-left:500px; margin-top:290px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg3.png');}
#ans8
{float:left; position: absolute; width:150px; height:150px; margin-left:0px; margin-top:290px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg8.png');}
#ans9
{float:left; position: absolute; width:150px; height:150px; margin-left:88px; margin-top:435px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg9.png');}
#ans2
{float:left; position: absolute; width:150px; height:150px; margin-left:415px; margin-top:435px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg2.png');}
#ans1
{float:left; position: absolute; width:150px; height:150px; margin-left:250px; margin-top:496px; padding:0px;border:3px  dashed #aaaaaa;background-image: url('bg1.png');}
#imgs
{
  position: absolute;
  width:700px; 
  text-align: center;
  height:180px;
  left: 50%;
  margin-left: -350px;
  background-image: url('VirusBg.png');}
#imgs1
{
  position: absolute;
  width:450px; 
  left: 50%;
  margin-left: -225px;}
#imgs2
{
  position: absolute;
  width:360px; 
  left: 50%;
  margin-left: -180px;
  margin-top: 90px;}
#ans
{ width:656px; 
  height:724px;
  position: absolute;
  left: 50%;
  margin-top: 190px;
  padding:4px;
  margin-left: -337px;
  border:4px double #000;
  background-image: url('bgebola.png');}
#quiz
{ width:660px; 
  height:450px;
  position: absolute;
  left: 50%;
  margin-top: 950px;
  margin-left: -330px;}
#quiz_div
{ width:656px; 
  height:450px;
  position: absolute;
  left: 50%;
  padding:4px;
  margin-left: -337px;
  border:4px double #000;
  background-image: url('bgebola.png');}
#score
{ width:150px; 
  height:30px;
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: #B7322B;
  font-weight: bold;
  left: 50%;
  margin-top: 180px;
  margin-left: -78px;}

#buttons1
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('fever.png'); }
#buttons2
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('somnolence.png'); }
#buttons3
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('vomitting.png'); }
#buttons4
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('headache.png'); }
#buttons5
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('dizziness.png'); }
#buttons6
{float:left; width:150px; height:150px; margin-left:55px; margin-top:8px;background-image: url('muscle.png'); }
